{% extends "baseadmin.html.twig" %}

{% block title %}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <a href="{{ path('admin.playlists.ajout') }}" 
       class="btn btn-info btn-sm active" 
       role="button" 
       aria-pressed="true"
    >Ajouter</a>
    <table class="table table-striped">
        <caption> Tableau des playlists </caption>
        <thead>
            <tr>
                <th class="text-left align-top" scope="col">
                    playlist<br />
                    <a href="{{ path('admin.playlists.sort', {champ:'name', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('admin.playlists.sort', {champ:'name', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin.playlists.findallcontain', {champ:'name'}) }}">
                        <div class="form-group mr-1 mb-2">
                            <input type="text" class="sm" name="recherche" 
                                   value="{% if valeur|default and not table|default %}{{ valeur }}{% endif %}">
                            <input type="hidden" name="_token" value="{{ csrf_token('filtre_name') }}">
                            <button type="submit" class="btn btn-info mb-2 btn-sm">filtrer</button>
                        </div>
                    </form>                    
                </th>
                <th class="text-left align-top" scope="col">
                    catégories
                    <form class="form-inline mt-1" method="POST" action="{{ path('admin.playlists.findallcontainCategorie', {champ:'id', table:'categories'}) }}">
                        <select class="form-select form-select-sm" name="recherche" id="recherche" onchange="this.form.submit();">
                            <option value=""></option>
                            {% for categorie in categories %}
                                <option 
                                    {% if valeur|default and valeur==categorie.id %} 
                                        selected
                                    {% endif %} 
                                    value="{{ categorie.id }}">{{ categorie.name }}
                                </option>
                            {% endfor %}
                        </select>                    
                    </form>            
                </th>
                <th class="text-center align-top" scope="col">
                    &nbsp;
                </th>
                <th>
                    Nombre de formations
                    <a href="{{ path('admin.playlists.sort', {champ:'nbformation', ordre:'ASC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true"><</a>
                    <a href="{{ path('admin.playlists.sort', {champ:'nbformation', ordre:'DESC'}) }}" class="btn btn-info btn-sm active" role="button" aria-pressed="true">></a>
                </th>
                <th class="text-center align-top" scope="col"> 
                    Édition
                </th>
            </tr>
        </thead>
        <tbody>
            <!-- boucle sur les playlists -->
            {% set ancplaylist = '' %}
            {% for k in 0..playlists|length-1 %}
                <!-- affichage une fois chaque playlist -->
                {% if playlists[k].name != ancplaylist %}
                    {% set ancplaylist = playlists[k].name %}
                    <tr class="align-middle">
                        <td>
                            <h5 class="text-info">
                                {{ playlists[k].name }}
                            </h5>
                        </td>                 
                        <td class="text-left">
                            {{ playlists[k].categoriename }}
                            <!-- boucle sur les playlists identiques pour afficher les categories -->
                            {% if k < playlists|length-1 %}
                                {% for j in k+1..playlists|length-1 %}
                                    <!-- affichage une fois de chaque catégorie -->
                                    {% if ancplaylist == playlists[j].name %}
                                        &nbsp;{{ playlists[j].categoriename }}
                                    {% endif %}                                    
                                {% endfor %}
                            {% endif %}
                        </td>
                        <td>{{ playlists[k].nbformation|length}}</td>
                        <td class="text-center">
                            <a href="{{ path('admin.playlists.showone', {id:playlists[k].id}) }}" class="btn btn-secondary">Voir détail</a>
                        </td>
                        <td>
                            <a href="{{ path('admin.playlists.edit', {id:playlists[k].id}) }}" 
                               class="btn btn-info btn-sm active" 
                               role="button" 
                               aria-pressed="true"
                            >Éditer</a>
                            {% if playlists[k].nbformation|length == 0  %}
                                <a href="{{ path('admin.playlists.suppr', {id:playlists[k].id}) }}" class="btn btn-danger btn-sm active" role="button" aria-pressed="true" onclick="return confirm('Etes-vous sûr de vouloir supprimer {{ playlists[k].name }} ?');" >Supprimer</a>
                            {% else %}
                                <a href="" class="btn btn-secondary btn-sm" role="button" onclick="return confirm('Impossible de supprimer cette playlist. Il reste {{ playlists[k].nbformation|length}} formations attachées a cette playlist');">Supprimer</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
{% block javascript %}{% endblock %}